<h1><%= @article.title %></h1>
<p><%= @article.details%></p>
<p><input type="checkbox">This article is not completed yet</p>
<p><%= link_to 'Edit the article', edit_article_path(@article)%></p>
<p><%= link_to 'Back to list', articles_path(@articles)%></p>
